<section class="bg-gray-100">
  <div
    class="mx-auto max-w-screen-2xl px-8 py-20 sm:px-12 sm:py-24 lg:px-16 lg:py-32 font-poppins"
  >
    <div class="grid grid-cols-1 gap-16 lg:grid-cols-2 lg:gap-24">
      <!-- Image and decorative elements -->
      <div class="relative flex items-center justify-center">
        <!-- Decorative circles -->

        <div
          class="absolute top-1/2 left-16 w-56 h-56 bg-green-100 rounded-full transform -translate-y-1/2"
        ></div>

        <!-- Main image -->
        <img
          src="/static/images/logos.svg"
          alt="RecycleHub App"
          class="w-100 h-auto relative z-10 drop-shadow-2xl"
        />
      </div>

      <!-- Text content -->
      <div class="flex flex-col justify-center">
        <h2 class="text-4xl font-bold text-gray-900 md:text-5xl">RecycleHub</h2>
        <p class="mt-6 text-lg text-gray-600">
          <strong>RecycleHub</strong> adalah aplikasi inovatif yang membantu
          masyarakat mendaur ulang sampah botol plastik dengan cara yang mudah
          dan bermanfaat. Setiap kali Anda melakukan daur ulang melalui
          RecycleHub, Anda akan mendapatkan poin yang dapat ditukar dengan
          berbagai hadiah menarik.
        </p>
        <div class="mt-8">
          <a
            href="#"
            class="inline-flex items-center px-8 py-4 bg-green-900 text-white text-base font-medium rounded-md shadow-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
          >
            Download
            <svg
              class="ml-3 w-6 h-6"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
