<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/tailwind.css') }}"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Beranda</title>
  </head>
  <body>
    {% include "components/nav-home.html" %} {% include
    "sections/beranda-section.html" %} {% include "sections/tentangKami-section.html" %}
    {% include "page/artikel-page.html" %} {% include "sections/kontakKami-section.html" %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@1.5.3/dist/flowbite.min.js"></script>
  </body>
</html>
